@model web_api_test.Models.Reservation




    <div class="panel-heading">
        Создать заказ
    </div>
@using (Html.BeginForm())
{
    <div class="panel-body">
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m=>m.ClientName)
            @*<input class="form-control" data-bind="value: model.editor.name" />*@
            @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control", data_bind = "value: model.editor.name" })
        </div>
            
        <div class="form-group">
            @Html.LabelFor(m => m.Location)
            @Html.TextBoxFor(x => x.Location, new { @class = "form-control", data_bind = "value: model.editor.location" })
            @*<input class="form-control" data-bind="value: model.editor.location" />*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", data_bind = "value: model.editor.email" })
            @*<input class="form-control" data-bind="value: model.editor.email" />*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", data_bind = "value: model.editor.phone" })
            @*<input class="form-control" data-bind="value: model.editor.phone" />*@
        </div>
        @*<button class="btn btn-primary"
                data-bind="click: handleEditorClick">
            Сохранить
        </button>*@
        <input type="submit" value="Save" class="btn btn-success" data-bind="click: handleEditorClick"/>
    </div>
}